In [ ]:
Done by Zhassulan Zhanyzak

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

In [34]:
pd1=pd.read_excel(pd.ExcelFile("2.7.+Mean,+median+and+mode_lesson.xlsx"),usecols = "B,D,C",header=3)
pd1

    Position  New York City  Los Angeles
0          1              1          1.0
1          2              2          2.0
2          3              3          3.0
3          4              3          4.0
4          5              5          5.0
5          6              6          6.0
6          7              7          7.0
7          8              8          8.0
8          9              9          9.0
9         10             11         10.0
10        11             66          NaN

In [31]:
pd1["Los Angeles"].mean()

5.5

In [32]:
pd1["Los Angeles"].median()

5.5

In [33]:
pd1["Los Angeles"].mode()

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     8.0
8     9.0
9    10.0
dtype: float64

In [35]:
pd1["New York City"].mean()

11.0

In [36]:
pd1["New York City"].median()

6.0

In [37]:
pd1["New York City"].mode()

0    3
dtype: int64

In [ ]:
Skewness

In [49]:
pd2=pd.read_excel(pd.ExcelFile("2.8.+Skewness_lesson.xlsx"),usecols = "C,K,T",header=4)
pd2

    Dataset 1  Dataset 2  Dataset 3
0         1.0        1.0          1
1         1.0        1.0          2
2         1.0        2.0          3
3         1.0        2.0          3
4         2.0        3.0          4
5         2.0        3.0          4
6         2.0        3.0          4
7         2.0        4.0          5
8         2.0        4.0          5
9         2.0        4.0          5
10        3.0        4.0          5
11        3.0        4.0          6
12        3.0        5.0          6
13        3.0        5.0          6
14        4.0        5.0          6
15        4.0        6.0          6
16        5.0        6.0          6
17        5.0        7.0          7
18        7.0        7.0          7
19        NaN        NaN          7

In [50]:
pd2["Dataset 1"].skew()

1.0829624003896066

In [51]:
pd2["Dataset 2"].skew()

0.0

In [52]:
pd2["Dataset 3"].skew()

-0.7835266197213597

In [60]:
pd3 = pd.read_excel(pd.ExcelFile("2.12.+Correlation_lesson.xlsx"),header=4,usecols = "C,D,G").head(5)
pd3

   Size (ft.)  Price ($)  (x-x̅)*(y-ȳ)
0       650.0   772000.0    34776000.0
1       785.0   998000.0    -5265000.0
2      1200.0  1200000.0    89178000.0
3       720.0   800000.0    19418000.0
4       975.0   895000.0    -4142000.0

In [56]:
pd3["Size (ft.)"].mean()

866.0

In [57]:
pd3["Size (ft.)"].std()

222.4690989778131

In [58]:
pd3["Price ($)"].mean()

933000.0

In [59]:
pd3["Price ($)"].std()

173614.5155221763

In [62]:
pd3["(x-x̅)*(y-ȳ)"].sum()

133965000.0

In [64]:
pd3["(x-x̅)*(y-ȳ)"].size

5

In [68]:
pd3["Size (ft.)"].cov

<bound method Series.cov of 0     650.0
1     785.0
2    1200.0
3     720.0
4     975.0
Name: Size (ft.), dtype: float64>

In [69]:
pd3["Price ($)"].corr

<bound method Series.corr of 0     772000.0
1     998000.0
2    1200000.0
3     800000.0
4     895000.0
Name: Price ($), dtype: float64>